<h1><%= @curse %>!</h1>
<p>Current fucking time: <%= formatted_time(Time.now) %></p>

<ul>
    <li><%= link_to 'Google', '//google.com' %></li>
    <li><%= link_to 'Hey!', greeter_heythere_url %></li>
</ul>
