<h1>Recipes</h1>

<p>Searching for <strong> <%= @search_term %> </strong></p>

<table>
    <% @recipes.each_slice(4) do |recipes| %>
        <tr><% recipes.each do |recipe| %>
            <td>
                <%= image_tag(recipe['image_url']) %>
                <p><strong><%= recipe['title'] %></strong></p>
            </td>
        <% end %></tr>
    <% end %>
</table>
