<h1>Hey there, <%= @bad_name %>!</h1>
<p>Current fucking time: <%= formatted_time(@time) %></p>

<ul>
    <li><%= link_to 'Google', '//google.com' %></li>
    <li><%= link_to 'Take some!', greeter_takesome_path %></li>
</ul>
